{% load static %}
<footer class="pt-5 pb-4 mt-5 shadow-lg">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="px-5 col-md-6 mb-6">
                <h5 class="text-orange mb-3">Contact</h5>
                <ul class="list-unstyled">
                  <li class="mb-2 d-flex align-items-start">
                    <span class="me-2 mt-1 flex-shrink-0"><i class="fa fa-location-dot text-orange"></i></span>
                    <span>Viettel Timor, Unipessoal, Lda. CBD10, Timor Plaza, Dili, Timor-Leste</span>
                  </li>
                  <li class="mb-2 d-flex align-items-start">
                    <span class="me-2 mt-1 flex-shrink-0"><i class="fa fa-phone text-orange"></i></span>
                    <span>Telefone: +670 76188188</span>
                  </li>
                  <li class="mb-2 d-flex align-items-start">
                    <span class="me-2 mt-1 flex-shrink-0"><i class="fa fa-envelope text-orange"></i></span>
                    <span>Email: 
                      <a href="mailto:info@telemor.tl" class="text-white text-decoration-underline">info@telemor.tl</a>
                    </span>
                  </li>
                  <li class="d-flex align-items-start">
                    <span class="me-2 mt-1 flex-shrink-0"><i class="fa fa-headset text-orange"></i></span>
                    <span>Suporta: 188</span>
                  </li>
                </ul>
            </div>
            <div class="px-5 col-md-6 mb-6">
                <img src="{% static 'img/telemor-logo.png' %}" alt="logo-footer" class="mb-3" style="max-width: 140px;">
                <p class="">Telemor is the number one telecommication company in East Timor.</p>
            </div>
        </div>
        <hr class="footer-hr">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p class="mb-0 small">&copy; Copyright by
                    <a href="https://telemor.tl" class="text-orange text-decoration-none">TELEMOR</a>
                    Internal Use only.
                </p>
            </div>
            
    </div>
</footer>